.Blog-wrap {
  background: #ffffff;
  padding-top: 70px;
  font-size: 22px;
}
.blog_box {
  width: 750px;
  margin: auto;
  background-color: #1f6a3687;
  display: flex;
  justify-content: space-between;
}
.top-box {
  display: flex;
  flex-direction: row-reverse;
}
.box-contents {
  width: 750px;
  margin: auto;
  height: 600px;
  background: #88b095a1;
  /* padding: 10px; */
  padding-top: 0px;
}
.hm-navbar {
  height: 85px;
  line-height: 85px;
  font-size: 40px;
  color: #ffffffde;
  padding-left: 10px;
}
.hm-navbar a {
  line-height: 85px;
}
.header-links {
  width: 400px;
  display: flex;
}
.header-links div {
  flex: 1;
  line-height: 85px;
  color: #202d1fb5;
  font-size: 25pxx;
  font-size: 21px;
}
.box-contents>div {
  margin-left: 10px;
  margin-right: 10px;
  /* margin-top: 20px; */
  border-radius: 4px;
}